/*Only use this file if you want to override bootstrap or create your own style*/
body{
    background-color:rgba(255, 1, 33, 1);
    height: 100vh;
}
.header{
    background-color: rgba(1, 95, 201, 1);
    color:whitesmoke;
    
}
.play{
    color:whitesmoke;
}
.play-again{
    padding-top: 30px;
    border: 3px solid white;
    border-radius: 20px;
    height:550px;
    color:whitesmoke;
}
.char-img{
    height: 400px;
}
.play button{
    background-color: transparent;
    border:none;
    outline:none;
}
.coin-img{
    width:100px;
    height:100px;
}
.play-again-btn{
    background-color:transparent;
    border:none;
    outline:none;
}
.win-img{
    margin-top:30px;
    height:400px;
}
button{
    width:70px;
    border-radius: 10px;
    outline: none
}
.item-buttons img{
    width: 25px;
    height: 25px;
}
.item-buttons button{
    border:none;
    width:50px;
}
img{
    height:300px;
}
.info{
    display:none;
}
.item-button:hover .info{
    display: inline-block;
}
.item-button:hover button{
    background-color:rgba(0, 0, 0, 0.384);
    color:whitesmoke;
}
.item-button button{
    border:none;
    background-color:transparent;
    color:transparent;
}
.playBtns{
    padding-top:100px;
}
.slap{
    margin-bottom: 25px;
}
.punch{
    margin-bottom: 25px;
}
.play-btn:hover button{
    background-color:rgba(255, 1, 33, 1);
}
.player-display{
    padding-top: 15px;
    padding-bottom: 15px;
    background-color:rgba(255, 1, 33, 1);
    color:whitesmoke;
    height: 100px;
}
.game-play{
    background-color: grey;
    padding-top: 15px;
    padding-bottom: 30px;
}